*.pdb
*.XML
omvviewer-light/obj
omvviewer-light/obj/*
omvviewer-light/obj/*/*
bin/OpenMetaverse.StructuredData.dll
bin/OpenMetaverse.dll
bin/OpenMetaverseTypes.dll
bin/XMLRPC.dll
bin/omvviewerlight.exe
bin/zlib.net.dll
bin/omvviewer-light.exe
.svn
*.user
*.bak
*~
*.sln
*.suo
*.csproj*

app.publish/
vs2CE.tmp
publish/
