*.pdb
*.XML
omvviewer-light/obj
omvviewer-light/obj/*
omvviewer-light/obj/*/*
omvviewer-light/bin/OpenMetaverse.StructuredData.dll
omvviewer-light/bin/OpenMetaverse.dll
omvviewer-light/bin/OpenMetaverseTypes.dll
omvviewer-light/bin/XMLRPC.dll
omvviewer-light/bin/omvviewerlight.exe
omvviewer-light/bin/zlib.net.dll
.svn
*.user
*.bak
*~
*.sln
*.suo
*.csproj*

app.publish/
vs2CE.tmp
publish/
